<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.actproperty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".department.property.History_for_IdCable"></activity>
        <activity
            android:name=".department.property.ShowDetailsControl"
            android:screenOrientation="landscape" />
        <activity
            android:name=".department.property.Main_Property"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webact.WebACT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".department.noc.NocDepartment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".department.accounting.ShowDeliverHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".department.accounting.Deliver"
            android:screenOrientation="portrait" />
        <activity
            android:name=".department.accounting.AccountingDepartment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.DashboardAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.Admin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inventory.DashboardInventory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inventory.Inventory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashBoard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Management"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>